#!/usr/bin/env python3
"""Example MILC program demonstrating env_prefix='' (no prefix) configuration.

PYTHON_ARGCOMPLETE_OK
"""
from milc import cli

cli.milc_options(name='env_prefix_noprefix_example', env_prefix='')


@cli.argument('--host', required=True, help='Hostname')
@cli.entrypoint('Test env_prefix empty-string feature.')
def main(cli):
    cli.echo('host=%s', cli.config.general.host)


if __name__ == '__main__':
    cli()
